<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <mapping resource="com/dneero/dao/Balance.hbm.xml" />
        <mapping resource="com/dneero/dao/Balancetransaction.hbm.xml" />
        <mapping resource="com/dneero/dao/Betainvite.hbm.xml" />
        <mapping resource="com/dneero/dao/Blogger.hbm.xml" />
        <mapping resource="com/dneero/dao/Blogpost.hbm.xml" />
        <mapping resource="com/dneero/dao/Blogpostcomment.hbm.xml" />
        <mapping resource="com/dneero/dao/Charitydonation.hbm.xml" />
        <mapping resource="com/dneero/dao/Coupon.hbm.xml" />
        <mapping resource="com/dneero/dao/Couponredemption.hbm.xml" />
        <mapping resource="com/dneero/dao/Creditcard.hbm.xml" />
        <mapping resource="com/dneero/dao/Emailinvitebatch.hbm.xml" />
        <mapping resource="com/dneero/dao/Emailinvitebatchaddress.hbm.xml" />
        <mapping resource="com/dneero/dao/Error.hbm.xml" />
        <mapping resource="com/dneero/dao/Errorlogging.hbm.xml" />
        <mapping resource="com/dneero/dao/Eula.hbm.xml" />
        <mapping resource="com/dneero/dao/Facebookpendingreferredby.hbm.xml" />
        <mapping resource="com/dneero/dao/Impression.hbm.xml" />
        <mapping resource="com/dneero/dao/Massemail.hbm.xml" />
        <mapping resource="com/dneero/dao/Pageperformance.hbm.xml" />
        <mapping resource="com/dneero/dao/Panel.hbm.xml" />
        <mapping resource="com/dneero/dao/Panelmembership.hbm.xml" />
        <mapping resource="com/dneero/dao/Question.hbm.xml" />
        <mapping resource="com/dneero/dao/Questionconfig.hbm.xml" />
        <mapping resource="com/dneero/dao/Questionresponse.hbm.xml" />
        <mapping resource="com/dneero/dao/Rank.hbm.xml" />
        <mapping resource="com/dneero/dao/Rankquestion.hbm.xml" />
        <mapping resource="com/dneero/dao/Rankuser.hbm.xml" />
        <mapping resource="com/dneero/dao/Researcher.hbm.xml" />
        <mapping resource="com/dneero/dao/Respondentfilter.hbm.xml" />
        <mapping resource="com/dneero/dao/Response.hbm.xml" />
        <mapping resource="com/dneero/dao/Responsepending.hbm.xml" />
        <mapping resource="com/dneero/dao/Review.hbm.xml" />
        <mapping resource="com/dneero/dao/Revshare.hbm.xml" />
        <mapping resource="com/dneero/dao/Schedextime.hbm.xml" />
        <mapping resource="com/dneero/dao/Supportissue.hbm.xml" />
        <mapping resource="com/dneero/dao/Supportissuecomm.hbm.xml" />
        <mapping resource="com/dneero/dao/Survey.hbm.xml" />
        <mapping resource="com/dneero/dao/Surveydiscuss.hbm.xml" />
        <mapping resource="com/dneero/dao/Surveypanel.hbm.xml" />
        <mapping resource="com/dneero/dao/Systemprop.hbm.xml" />
        <mapping resource="com/dneero/dao/User.hbm.xml" />
        <mapping resource="com/dneero/dao/Usereula.hbm.xml" />
        <mapping resource="com/dneero/dao/Userpersistentlogin.hbm.xml" />
        <mapping resource="com/dneero/dao/Userrole.hbm.xml" />

    </session-factory>
</hibernate-configuration>
