<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

<bean id="myDataSource" class="org.apache.commons.dbcp.BasicDataSource" >
    <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
    <property name="url" value="jdbc:mysql://localhost:3306/dneero?autoReconnect=true"/>
    <property name="username" value="root"/>
    <property name="password" value="password"/>
</bean>


<bean id="mySessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
    <property name="dataSource" ref="myDataSource"/>
    <property name="mappingResources">
        <list>
            <value>./com/dneero/dao/Springtest.hbm.xml</value>
        </list>
    </property>
    <property name="hibernateProperties">
            <value>
                hibernate.dialect=org.hibernate.dialect.MySQLMyISAMDialect
                hibernate.show_sql=true
                hibernate.cache.use_second_level_cache=false
                <!--hibernate.cache.region.factory_class=org.hibernate.cache.jbc2.MultiplexedJBossCacheRegionFactory-->
                <!--hibernate.cache.region_prefix=main-->
                <!--hibernate.cache.region.jbc2.configs=jbc2-configs-dneero.xml-->
                <!--hibernate.cache.region.jbc2.cfg.entity=optimistic-entity-->
                <!--hibernate.cache.region.jbc2.cfg.collection=optimistic-entity-->
                <!--hibernate.cache.region.jbc2.cfg.ts=timestamps-cache-->
                <!--hibernate.cache.region.jbc2.cfg.query=optimistic-entity-->
                <!--hibernate.cache.region.jbc2.cfg.multiplexer.stacks=jgroups-stacks-dneeroXXX.xml-->
                <!--hibernate.cache.use_structured_entries=true-->
                <!--hibernate.cache.use_query_cache=true-->
                <!--hibernate.cache.usage=transactional-->
                <!--hibernate.transaction.factory_class = org.hibernate.transaction.JTATransactionFactory-->
                <!--hibernate.transaction.manager_lookup_class=org.hibernate.transaction.JOTMTransactionManagerLookup-->
                <!--hibernate.transaction.manager_lookup_class=org.springframework.transaction.jta.JtaTransactionManager-->
            </value>
    </property>
</bean>

<bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
  <property name="sessionFactory" ref="mySessionFactory" />
</bean>



<!--<bean id="transactionManager1" class="org.springframework.transaction.jta.JtaTransactionManager">-->
    <!--<property name="userTransaction"><ref local="jotm"/></property>-->
<!--</bean>-->

<!--<bean id="transactionManager2" class="org.springframework.transaction.jta.JtaTransactionManager">-->
    <!--<property name="userTransaction"><ref local="jotm"/></property>-->
<!--</bean>-->

<!--<bean id="jotm" class="org.springframework.transaction.jta.JotmFactoryBean"/>-->

<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
    <property name="sessionFactory">
        <ref bean="mySessionFactory"/>
    </property>
</bean>



<bean id="Springtest" class="com.dneero.dao.Springtest">
    <!--<property name="sessionFactory" ref="mySessionFactory"/>-->
    <property name="hibernateTemplate">
        <ref bean="hibernateTemplate"/>
    </property>
</bean>




</beans>
