body {
    margin:12px 12px 0 9px;
    padding:0;
    background:#FFFFFF;
}
#level0 {
}
#level1 {
}
#level2 {
    margin-left:225px;
    padding:15px;
}
#topBar {
    background:#ffffff;
    padding:4px;
}
#lftBar {
    background:#e6e6e6;
    position:absolute;
    width:200px;
    top:200px;
}
