
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html class="js" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>


        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        #if ($pagetitle!="")
            <title>MatterOfOpinion: $pagetitle</title>
        #else
            <title>MatterOfOpinion</title>
        #end
        <meta name="description" content="political discussion" />
        <meta name="keywords" content="politics" />
        <meta name="robots" content="index,follow">
        <link rel="stylesheet" type="text/css" href="/template/political/style.css" />
        <link rel="stylesheet" type="text/css" href="/template/political/main.css" />
        <link rel="stylesheet" type="text/css" href="/css/SexyButtons/sexybuttons.css" />
        <link rel="stylesheet" type="text/css" href="/js/jquery-ui/css/smoothness/jquery-ui-1.8rc3.custom.css" />
        <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui/jquery-ui-1.8rc3.custom.min.js"></script>
        <script type="text/javascript" src="/js/jquery.corner.js"></script>   
    </head><body id="homepageXXX">
	<div class="container">
		<div class="frame">
			<div class="mast">
				<div class="mast_wrap">

                    <div class="logo">
                        <a href="http://www.matterofopinion.com/"><img src="/template/political/images/logo-v01.png" alt="logo" title="" id="logo" width="294" height="69"  border="0"></a>
                    </div>
##                    <div class="block" id="block-4">
##                        <div class="content">
##                            Nav Here
##                        </div>
##    					<div class="clearfloat"></div>
##					</div>

                    <div class="subnav">
                        <img src="/images/clear.gif" width="1" height="1" border="0"/>
                        <div class="subnavinner">
                            #if (!$userSession.isloggedin)
                                <font class="subnavfont"><a href="http://www.matterofopinion.com">Home</a> | <a href="/index.jsp">Surveys</a> | <a href="/login.jsp">My Account</a></font>
                            #end
                            #if ($userSession.isloggedin)
                                <font class="subnavfont">Hi, $userSession.user.nickname | <a href="http://www.matterofopinion.com">Home</a> | <a href="/index.jsp">Surveys</a> | <a href="/account/index.jsp">My Account</a> 
                                #if ($userSession.isCustomerCare)
                                    | <a href="/customercare/index.jsp">Customer Care</a>
                                #end
                                #if ($userSession.isSysadmin)
                                    | <a href="/sysadmin/index.jsp">SysAdmin</a>
                                #end
                                | <a href="/login.jsp?action=logout">Log Out</a></font>
                            #end
                        </div>
                    </div>

                </div>
			</div><!--END MAST -->


            <div class="contentarea ">
                <div class="panel-2col-stacked clear-block panel-display" id="homepage">


                    <div class="mainbanner" id="mainbanner-nonindex" style="background: url(/images/clear.gif) no-repeat scroll center center rgb(255, 255, 255);">
                    </div>

##                    <div class="panel-col-top panel-panel">
##                        <div class="inside">
##                            <div class="panel-pane">
##                                <div class="content">
##                                    <div class="mainbanner" id="mainbanner-nonindex" style="background: url(/template/political/images/hp-banner-v02.jpg) no-repeat scroll center center rgb(200, 200, 200);">
##                                        <div class="content">
##
##                                        </div>
##                                    </div>
##                                </div>
##                            </div>
##                            <div class="panel-separator"></div>
##                        </div>
##                    </div>

                    <div class="center-wrapper" id="center-wrapper-nonindex" style="top: 0px;">
                        <div class="panel-col-first panel-panel">
                            <div class="inside">
                                <div class="panel-pane">
                                    <div class="content">




                                    <div class="subnav">
                                        <div class="navbarinner">
                                            #if ($navtab == "customercare")
                                                #if ($userSession.isloggedin && $userSession.isCustomerCare)
                                                    <a href="/customercare/sysadminsupportissueslist.jsp">Support Issues</a>
                                                    <a href="/customercare/reviewables.jsp">Reviewable Items</a>
                                                    <a href="/customercare/userlist.jsp">Users</a>
                                                    <a href="/customercare/sysadminsurveylist.jsp">Surveys</a>
                                                    <a href="/customercare/charityreport.jsp">Charity</a>
                                                    <a href="/customercare/couponlist.jsp">Coupons</a>
                                                    <a href="/customercare/transactions.jsp">Real-World Transactions</a>
                                                    <a href="/customercare/balance.jsp">Balance Updates</a>
                                                    <a href="/customercare/iptrack.jsp">Ip Track</a>
                                                    <a href="/customercare/panels.jsp">SuperPanels</a>
                                                #end
                                            #end
                                            #if ($navtab == "sysadmin")
                                                #if ($userSession.isloggedin && $userSession.isSysadmin)
                                                    <a href="/sysadmin/errorlist.jsp">System Log</a>
                                                    <a href="/sysadmin/errorlist-logging.jsp">LogConfig</a>
                                                    <a href="/sysadmin/editeula.jsp">Eula</a>
                                                    <a href="/sysadmin/rateblogpost.jsp">Rate</a>
                                                    <a href="/sysadmin/manuallyrunscheduledtask.jsp">Scheds</a>
                                                    <a href="/sysadmin/systemprops.jsp">SysProps</a>
                                                    <a href="/sysadmin/instanceprops.jsp">InsProps</a>
                                                    <a href="/sysadmin/hibernatecache.jsp">Cache</a>
                                                    <a href="/sysadmin/massemaillist.jsp">Email</a>
                                                    <a href="/sysadmin/demographicreport.jsp">Demogrs</a>
                                                    <a href="/sysadmin/pageperformance.jsp">Perf</a>
                                                    <a href="/sysadmin/blogpost.jsp">Blog</a>
                                                    <a href="/sysadmin/privatelabels.jsp">PrivateLabels</a>
                                                    <a href="/sysadmin/bulkuser.jsp">Bulkuser</a>
                                                    <a href="/sysadmin/impressionsbyday.jsp">ImpByDay</a>
                                                    <a href="/sysadmin/usagereport.jsp">Usage</a>
                                                #end
                                            #end
                                        </div>
                                    </div>



                                    <div class="pagetitle">
                                    #if ($pagetitle!="")
                                        <font class="pagetitlefont">$pagetitle</font>
                                        <br/>
                                    #end
                                    #if ($userSession.message!="")
                                        <br/>
                                        <center><div class="rounded" style="background: #F2FFBF; text-align: left; padding: 20px;"><font class="formfieldnamefont">$userSession.message</font></div></center>
                                        <br/>
                                    #end
                                   </div>

<!-- Start Main Body Content -->


