
<!-- End Main Body Content -->

                            </div>
                        </div>
                    </div>
                </div>


            <!--END CONTENTAREA -->



                </div>
            </div>
        </div>
        <div class="footer" style="margin-top: 0px; padding-top: 25px; height: 150px; font-size:0.90em;">
            <div class="footerFrame">
                <div class="legal">
##                    <div style="float:right;">
##                        <a href="http://www.309million.com"><img src="/template/political/images/logo-v01.png" alt="logo" title="" id="logo" height="69" width="294" border="0" align="right"></a>
##                    </div>
                    <div style="">
                        © 2010 political concept LLC. All rights reserved.
                        <a href="/pageperformance.jsp" style="color: #cccccc;">Page in $elapsedTime ms</a>
                    </div>
                </div>
            </div>
            <div class="clearfloat"></div>
        </div>
    </div>
</div>


<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
    $('.rounded').corner();
});
</script>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("$googleanalyticsidweb");
pageTracker._setDomainName("none");
pageTracker._setAllowLinker(true);
pageTracker._trackPageview();
} catch(err) {}</script>


</body></html>

