<script language="JavaScript">
<!--
if (document.images) {
 body1 = new Image;
 body1.src = "images/hpv2-default-body.gif";
 body2 = new Image;
 body2.src = "images/hpv2-socialpeople-body.gif";
 body3 = new Image;
 body3.src = "images/hpv2-researchers-body.gif";
 spbutton1 = new Image;
 spbutton1.src = "images/hpv2-socialpeople-button-off.gif";
 spbutton2 = new Image;
 spbutton2.src = "images/hpv2-socialpeople-button-on.gif";
 rbutton1 = new Image;
 rbutton1.src = "images/hpv2-researchers-button-off.gif";
 rbutton2 = new Image;
 rbutton2.src = "images/hpv2-researchers-button-on.gif";
}
function bodyImgAct(imgname){
 if (document.images){
  window.onerror = null;
  document.bodyimg.src=eval(imgname + ".src");
 }
}
function bodyImgInact(){
 if (document.images){
  window.onerror = null;
  document.bodyimg.src=body1.src;
 }
}
function spButtonImgAct(imgname){
 if (document.images){
  window.onerror = null;
  document.spbutton.src=eval(imgname + ".src");
 }
}
function spButtonImgInact(){
 if (document.images){
  window.onerror = null;
  document.spbutton.src=spbutton1.src;
 }
}
function rButtonImgAct(imgname){
 if (document.images){
  window.onerror = null;
  document.rbutton.src=eval(imgname + ".src");
 }
}
function rButtonImgInact(){
 if (document.images){
  window.onerror = null;
  document.rbutton.src=rbutton1.src;
 }
}
//-->
</script>

<table cellspacing="0" cellpadding="0" border="0" width="757">
<tr>
    <td><a href="/blogger/index.jsp?showmarketingmaterial=1" onmouseover="bodyImgAct('body2'), spButtonImgAct('spbutton2')" onmouseout="bodyImgInact(), spButtonImgInact()"><img src="images/hpv2-socialpeople-button-off.gif" width="227" height="121" border="0" name="spbutton"></a></td>
    <td rowspan="2"><img src="images/hpv2-default-body.gif" width="530" height="241" name="bodyimg"></td>
</tr>
<tr>
    <td><a href="/researcher/index.jsp?showmarketingmaterial=1" onmouseover="bodyImgAct('body3'), rButtonImgAct('rbutton2')" onmouseout="bodyImgInact(), rButtonImgInact()"><img src="images/hpv2-researchers-button-off.gif" width="227" height="120" border="0" name="rbutton"></a></td>
</tr>
</table>

<br clear="all"/><br/>

    <table cellpadding="0" cellspacing="10" border="0" width="757">

       <tr>
           <td width="225">


               <div class="rounded" style="background: #e6e6e6; padding: 10px;">
                    <font class="mediumfont" style="color: #999999;">Conversation Engagements</font><br/>
                    <font class="largefont" style="color: #666666;">$totalConvoJoins.html</font>
               </div>

               <br/>

               <div class="rounded" style="background: #e6e6e6; padding: 10px;">
                    <font class="mediumfont" style="color: #999999;">Conversation Embeds</font><br/>
                    <font class="largefont" style="color: #666666;">$totalConvoEmbeds.html</font><br/>
                    <font class="tinyfont">Times a conversation's been displayed while embedded in a blog or social media profile.</font><br/>
               </div>

               <br/>

               <div class="rounded" style="background: #e6e6e6; padding: 10px;">
                   <font class="mediumfont" style="color: #999999;">Are You Experienced?</font><br/>
                   $usersWithMostConvos.html
               </div>

               <br/>

               <div class="rounded" style="background: #e6e6e6; padding: 10px;">
                    <form action="/index.jsp" method="post">
                        <input type="hidden" name="action" value="enteraccesscode">
                        <font class="mediumfont" style="color: #999999;">Got an Access Code?</font><br/>
                        <%=Textbox.html("accesscode", Pagez.getUserSession().getAccesscode(), 255, 10, "", "")%>
                        <input type="submit" class="formsubmitbutton" value="Use Access Code" style="font-size: 11px;">
                    </form>
                </div>

               <br/>

               <div class="rounded" style="background: #e6e6e6; padding: 10px;">
                    <font class="mediumfont" style="color: #999999;">Donations to Charity</font><br/>
                    $donationsMiniReport.html
                    <br/>
                   <div class="rounded" style="background: #ffffff; padding: 10px;">
                        <font class="tinyfont">You can choose to donate your earnings to charity with a single click!  And as a researcher you can ignite conversations that require people to donate.  We even give you the ability to add your own charity.<br/><a href="/charity.jsp">Learn more.</a></font><br/>
                   </div>
               </div>

               <br/>

               <div class="rounded" style="background: #e6e6e6; padding: 10px;">
                    <font class="mediumfont" style="color: #999999;">Recent Charity Donators</font><br/>
                    $recentDonations.html
               </div>

           </td>
           <td>
                <div class="rounded" style="background: #e6e6e6; padding: 10px;">
                    $recentConvos.html
                </div>

                <br/>

                <div class="rounded" style="background: #e6e6e6; padding: 10px;">
                    <div style="text-align: right; float: right; width: 100px;"><font class="tinyfont" style="color: #999999;">updated every 5 min</font></div>
                    <font class="mediumfont" style="color: #999999;">Recent Conversation Ignitions</font><br/>
                    $recentConvoJoins.html
                </div>

                <br/>

                <div class="rounded" style="background: #e6e6e6; padding: 10px;">
                    <div style="text-align: right; float: right; width: 100px;"><font class="tinyfont" style="color: #999999;">updated every 15 min</font></div>
                    <font class="mediumfont" style="color: #999999;">Recent Twitter Question Responses</font><br/>
                    $twitterAnswers.html
                </div>

                <br/>

                <div class="rounded" style="background: #e6e6e6; padding: 10px;">
                    <table cellpadding="0" cellspacing="10" border="0" width="100%">
                        <tr>
                            <td width="50%">
                                <div class="rounded" style="background: #ffffff; padding: 10px;">
                                    <font class="mediumfont" style="color: #999999;">Recent Money Earners</font><br/>
                                    $recentlyPaid.html
                                </div>
                            </td>
                            <td width="50%">
                                <div class="rounded" style="background: #ffffff; padding: 10px;">
                                    <font class="mediumfont" style="color: #999999;">Newest Users</font><br/>
                                    $newestUsers.html
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <br/>

                <div class="rounded" style="background: #e6e6e6; padding: 10px;">
                    <font class="mediumfont" style="color: #999999;">Blog Posts/Latest News/System Status</font><br/>
                    $blogPosts.html
                </div>
           </td>
       </tr>

    </table>