<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">

    <description>web.xml</description>

      <listener>
        <listener-class>com.dneero.startup.AtomikosContextListener</listener-class>
      </listener>


    <error-page>
        <error-code>500</error-code>
        <location>/error/500.jsp</location>
    </error-page>



    <listener>
      <listener-class>com.dneero.startup.ApplicationStartup</listener-class>
    </listener>





    <filter>
        <filter-name>HibernateSessionCloser</filter-name>
        <filter-class>com.dneero.dao.hibernate.HibernateSessionCloser</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HibernateSessionCloser</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <filter>
        <filter-name>FilterMain</filter-name>
        <filter-class>com.dneero.htmlui.FilterMain</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterMain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>Encode4FacebookFilter</filter-name>
        <filter-class>com.dneero.htmlui.Encode4FacebookFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Encode4FacebookFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
       <filter-name>UrlRewriteFilter</filter-name>
       <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
        <init-param>
            <param-name>logLevel</param-name>
            <param-value>log4j</param-value>
        </init-param>
    </filter>
    <filter-mapping>
       <filter-name>UrlRewriteFilter</filter-name>
       <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>





    <servlet>
        <servlet-name>EmailActivationServlet</servlet-name>
        <servlet-class>com.dneero.email.EmailActivationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmailActivationServlet</servlet-name>
        <url-pattern>/eas</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FbCallbackServlet</servlet-name>
        <servlet-class>com.dneero.facebook.FbCallbackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FbCallbackServlet</servlet-name>
        <url-pattern>/fb/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TwitterQuestion</servlet-name>
        <servlet-class>com.dneero.twitter.TwitterQuestionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TwitterQuestion</servlet-name>
        <url-pattern>/tq/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>MainCss</servlet-name>
        <servlet-class>com.dneero.privatelabel.MainCss</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainCss</servlet-name>
        <url-pattern>/template/main.css</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>TwitterCallbackServlet</servlet-name>
        <servlet-class>com.dneero.twitteroauth.CallbackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TwitterCallbackServlet</servlet-name>
        <url-pattern>/twittercallback</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RedirToTwitterServlet</servlet-name>
        <servlet-class>com.dneero.twitteroauth.RedirToTwitterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RedirToTwitterServlet</servlet-name>
        <url-pattern>/twitterredirector</url-pattern>
    </servlet-mapping>





    <servlet>
        <servlet-name>SurveyJavascriptServlet</servlet-name>
        <servlet-class>com.dneero.survey.servlet.v1.SurveyJavascriptServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SurveyJavascriptServlet</servlet-name>
        <url-pattern>/s</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SurveyFlashServlet</servlet-name>
        <servlet-class>com.dneero.survey.servlet.v1.SurveyFlashServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SurveyFlashServlet</servlet-name>
        <url-pattern>/flashviewer/dneerosurvey.swf</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SurveyFlashFacebookServlet</servlet-name>
        <servlet-class>com.dneero.survey.servlet.v1.SurveyFlashFacebookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SurveyFlashFacebookServlet</servlet-name>
        <url-pattern>/flashviewer/dneerosurveyfacebook.swf</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SurveyImagelinkServlet</servlet-name>
        <servlet-class>com.dneero.survey.servlet.v1.SurveyImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SurveyImagelinkServlet</servlet-name>
        <url-pattern>/i</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SurveyHtmlpageServlet</servlet-name>
        <servlet-class>com.dneero.survey.servlet.v1.SurveyHtmlpageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SurveyHtmlpageServlet</servlet-name>
        <url-pattern>/shtml</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DengSwf</servlet-name>
        <servlet-class>com.dneero.survey.servlet.DengSwf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DengSwf</servlet-name>
        <url-pattern>/deng.swf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DengSwf</servlet-name>
        <url-pattern>/blogger/deng.swf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DengSwf</servlet-name>
        <url-pattern>/researcher/deng.swf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DengSwf</servlet-name>
        <url-pattern>/sysadmin/deng.swf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DengSwf</servlet-name>
        <url-pattern>/account/deng.swf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DengSwf</servlet-name>
        <url-pattern>/flashviewer/deng.swf</url-pattern>
    </servlet-mapping>






    <servlet>
        <servlet-name>SurveyJavascriptServletV2</servlet-name>
        <servlet-class>com.dneero.survey.servlet.v2.SurveyJavascriptServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SurveyJavascriptServletV2</servlet-name>
        <url-pattern>/jsv2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SurveyFlashServletV2</servlet-name>
        <servlet-class>com.dneero.survey.servlet.v2.SurveyFlashServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SurveyFlashServletV2</servlet-name>
        <url-pattern>/fv2/convo.swf</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SurveyFlashServletXMLResponseV2</servlet-name>
        <servlet-class>com.dneero.survey.servlet.v2.SurveyFlashServletXMLResponse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SurveyFlashServletXMLResponseV2</servlet-name>
        <url-pattern>/fv2/response.xml</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SurveyFlashFacebookServletV2</servlet-name>
        <servlet-class>com.dneero.survey.servlet.v2.SurveyFlashFacebookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SurveyFlashFacebookServletV2</servlet-name>
        <url-pattern>/fv2/convofacebook.swf</url-pattern>
    </servlet-mapping>





    

    <servlet>
        <servlet-name>BlogRss</servlet-name>
        <servlet-class>com.dneero.survey.servlet.BlogRss</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlogRss</servlet-name>
        <url-pattern>/rss.xml</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <distributable/>



</web-app>
